name: Deploy to Genesys Cloud

on:
  push:
    branches: ["main"]

jobs:
  terraform:
    name: Apply Terraform
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      env:
        TF_VAR_client_id: ${{ secrets.GENESYS_CLIENT_ID }}
        TF_VAR_client_secret: ${{ secrets.GENESYS_CLIENT_SECRET }}
      run: terraform plan -input=false

    - name: Terraform Apply
      if: github.ref == 'refs/heads/main'
      env:
        TF_VAR_client_id: ${{ secrets.GENESYS_CLIENT_ID }}
        TF_VAR_client_secret: ${{ secrets.GENESYS_CLIENT_SECRET }}
      run: terraform apply -auto-approve
