###
# This GitHub action demonstrates how to build a simple CI/CD pipeline that will first deploy
# all of your Genesys Cloud objects to a development environment, run a set of platform test to ensure that
# the development environment flow is functioning properly and then if the tests pass deploy to a test
# environment.
#
# The three jobs contained here are:
#
#  deploy-email-flow-dev
#  execute-platform-tests
#  deploy-email-flow-test
#
#  The deploy-email-flow-dev and deploy-email-flow-test contain the same steps, but are configured with
#  OAuth Credentials and environment variables specific to each of our two Genesys Cloud environments (dev and test).
###
name: Genesys Cloud Email Non-Prod Deploy
on:
  push:
    branches: [dev, test]
  workflow_dispatch:
jobs:
  ###
  #  job: deploy-email-flow-dev
  #
  #  The deploy-email-flow-dev job starts by first setting all of the environment variables specific to the development environment. Secret values
  #  are pulled directly from the GitHub Actions secrets vaults. Otherwise, all environment variables are set directly in the script.
  #  Once all of the environment variables are set the following steps are taken:
  #
  #  Step 1 (actions/checkout@v2): Uses a remote action to checkout all of the source code.
  #  Step 2 (hashicorp/setup-terraform@v1): Uses a remote action to install Terraform and configure the Terraform token
  #  Step 3 (./.github/actions/genesys-cloud-apply-terraform): Uses a local action to run Terraform
  ###
  deploy-email-flow-dev:
    runs-on: ubuntu-latest
    env:
      GENESYSCLOUD_OAUTHCLIENT_ID: ${{ secrets.GENESYS_CLIENT_ID }}
      GENESYSCLOUD_OAUTHCLIENT_SECRET: ${{ secrets.GENESYS_CLIENT_SECRET }}
      GENESYSCLOUD_API_REGION: "https://api.aps1.pure.cloud"
      GENESYSCLOUD_REGION: "ap-south-1"
      TF_WORKSPACE: "Genesys"
    steps:
      - uses: actions/checkout@v2
      - uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
      - uses: ./.github/actions/genesys-cloud-apply-terraform
     
 
